header{
    height: 150px;
    width: 470px;
    text-align: center;
    margin-top: 50px;
}
header span {
    font-size: 56px;
    font-weight: 200;
    color: #FF5151;
}
#logo{
    background: url(../img/logo.png);
    width: 250px;
    height: 75px;
    margin: auto;
}
.login-page{
    margin-top: 30px !important;
    width: 1000px !important;
}
.login-page h3 {
    font-weight: 300;
    font-size: 23px;
    font-family: 'ProximaNovaRegular';
    text-shadow: 1px 1px #FFF;
    color: #616161;
}
.login-page .evidentiat{
    font-weight: 700;
    color: #e96153;
}
.login-page input[type="text"],
.login-page input[type="password"],
.login-page input[type="email"] {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border: none;
    border-left: 5px solid #e96153;
    padding-left: 35px;
    font-size: 16px;
    color: #696969;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.91);
}
.rosu{ color: #e96153;}

.input-group input:focus{
    color: #e96153;
}
.input-group .fa-user{
    font-size: 20px;
}
.input-group .fa-envelope{
    font-size: 17px;
    top: 12px;
}
.input-group .fa-lock{
    font-size: 21px;
    left: 14px;
    top: 10px;
}
.slider-box, #login-box, #register-box{
    float: left;
}

.slider-box { 
    width: 650px;
}

#register-box,  #login-box{ 
    width: 290px;
    margin-left: 60px; 
}
.input-group{
    position: relative;
}
.input-group .i-con {
    position: absolute;
    top: 9px;
    left: 13px;
    color: #818181;
}
.input-group label {
    font-size: 13px;
    text-transform: uppercase;
    text-shadow: 1px 1px #FFF;
}
.block-btns{
    margin-top: 10px;
}
.btn-icon {
    padding: 8px 12px;
    font-size: 18px;
}
.btn-icon.fb{
    padding: 8px 17px;
    background: #48629b;
}
.btn-icon.tw{
    background: #23b0e6;
}
.btn-icon.gp{
    background: #db4a38;
}
.submit-status-message {
    text-align: center;
    background: rgba(255, 255, 255, 0.62);
    margin: 5px 0;
    padding: 3px 0;
    font-size: 13px;
    color: #A3A3A3;
    display: none;
}
#register-form p:last-child{
    color: #4E4E4E;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: 1px 1px #FFF;
}
#goto-login-link,#goto-register-link{
    cursor: pointer;
}
#login-box{
    display: none;
}
.slider img {
    margin-top: 20px;
}